streamlit==1.2.0
streamlit-webrtc==0.31.3
aiortc==1.2.1
numpy
requests
json5
Pillow
pickle5
#for Deep learning model
# os-sys

#for handling image
opencv-python-headless
opencv-contrib-python-headless
mediapipe
cvzone
av
#other
matplotlib
tensorflow==2.6
keras==2.6
